.input {
    text-align:center;
    padding-top: 30px;
}

.heading {
    text-align:center;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 60px;
}

.heading:hover {
  color: rgb(153, 231, 27);
  transition: 1.5s;

}

input[type="text"] {
    height: 30px;
    width: 55%;
    background: #e7e7e7;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    padding: 10px 5px;
    padding-left: 15px;;
}   

input[type="submit"] {
    height: 50px;
    width: 85px;
    background: #e7e7e7;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 6px;
}

.submit:hover {
  background-color:#98d3db;
  transition: 0.5s;
  
}

.display {
    text-align:center;
}

.card{
    max-width: 450px;
    width: 75%;
    background-color: #d5b4e0;
    height: 300px;
    margin: 90px auto;
    border-radius: 12px;

  }
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 40px 0;
    font-size: 20px;
    
  }

